@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



.scroll-smooth::-webkit-scrollbar {
  display: none;
}
.scroll-smooth {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('/Fonts/Mulish-Medium.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MyCustomFont', Arial, sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

@keyframes scroll-diagonal {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(-50%, 50%);
  }
}

.animate-scroll-diagonal {
  animation: scroll-diagonal 30s linear infinite;
}


